@import './blog-reset.scss';

$primary-color: #39f;

.blog-detail-page {
  .page-common-blog-title {
    margin-bottom: 0.6em;
    margin-top: 48px;
  }

  .blog-created {
    font-size: 14px;
    color: #999;
    margin-bottom: 3em;

    @media screen and (max-width: 750px) {
      margin-bottom: 2em;
    }
  }

  .blog-comment-form {
    width: 100%;
    overflow: hidden;
    display: flex;

    button {
      float: right;
      flex-shrink: 0;
      margin-left: 12px;
    }
  }

  .blog-comment-input {
    transition: all ease 0.3s;
    opacity: 1;
    color: #4a4a4a;

    &.hidden {
      width: 0;
      opacity: 0;
      margin-right: 0;
      padding: 0;
    }
  }

  @media screen and (max-width: 750px) {
    .blog-comment-form {
      .blog-comment-input {
        &.hidden {
          display: none;
        }
      }

      button {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 12px;
      }
    }
  }

  .blog-content {
    @include blog-reset;
  }
}
